*.elc
.cache/
.mc-lists.el
.org-id-locations
abbrev_defs
auto-save-list/
backup.el
bash/
bookmarks
buffer.el
calendar.el
editing.el
elpa/
email_test.el
external-processes.el
history
init.el
key-bindings.el
mini-buffer.el
projects
recentf
session.*
startup.el
transient/
tree-sitter/
ui.el
utils.el
