elpa/
init.el
backup.el
buffer.el
calendar.el
editing.el
external-processes.el
key-bindings.el
mini-buffer.el
startup.el
ui.el
utils.el
*.elc
.cache/
.mc-lists.el
.org-id-locations
abbrev_defs
auto-save-list/
bash/
bookmarks
elisp/
elisp/
email_test.el
history
recentf
session.*
transient/
tree-sitter/
